@import "../../common/card/def";

.card-detail {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.45);
  overflow: auto;
  text-align: center;

  $animation-dur: 500ms;
  $animation-dur-disappear: 350ms;
  $animation-easing: cubic-bezier(0.23, 1, 0.32, 1);
  $animation-easing-disappear: cubic-bezier(0.55, 0.085, 0.68, 0.53);

  animation: card-detail-container-appear $animation-dur $animation-easing both;

  &.dismissing {
    animation: card-detail-container-disappear $animation-dur-disappear $animation-easing-disappear both;

    .base {
      animation: card-detail-base-disappear $animation-dur-disappear $animation-easing-disappear both;
    }
  }

  .base {
    width: 50%;
    min-width: 480px;
    padding: 36px 5.5vw;
    padding-bottom: 56px;
    background: #fafafa;
    border-radius: 24px;
    margin: 20vh 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    min-height: #{50vw / $card-ratio};
    animation: card-detail-base-appear $animation-dur $animation-easing both;
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .symbol {
      width: 48px;
      height: 48px;
      background: red;
      margin-right: 16px;
    }

    .header {
      font-size: 20px;
      color: #616161;
      font-weight: 300;
    }
  }

  .html-content {
    font-size: 16px;
    color: #616161;
    width: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;

    .image-container {
      height: 180px;
      border-radius: 12px;
      border: 4px dashed #d3d3d3;
      margin: 0 0 12px 0;
      position: relative;

      &:hover {
        opacity: 0.85;
      }

      .file-label {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
       
      /* no src container */
      .no-src {
        position: absolute;
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;

        img {
          height: 36px;
        }

        .title {
          font-size: 1rem;
          color: #BDBDBD;
          margin: 18px 0 0 0;
        }
      }
    }

    .input {
      font-size: 150%;
      resize: none;
      flex-grow: 1;
      background: #fff;

      &[disabled] {
        background: transparent;
        cursor: default;
        border: none;
  
        &::placeholder {
          color: #9e9e9e;
        }
      }
  
      &::placeholder {
        color: transparent;
      }
    }
  }

  .options {
    ul {
      display: flex;
      flex-direction: row-reverse;

      li {
        display: inline-block;

        .btn-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .last-edit-container {
    margin: 24px 0 0 0;

    .text {
      text-align: right;
      color: #9e9e9e;
    }
  }

  .edit-mode-save-container {
    position: relative;

    .task-indicator {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes card-detail-container-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes card-detail-base-appear {
  from {
    transform: translateX(-50%) translateY(10vh);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes card-detail-container-disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes card-detail-base-disappear {
  to {
    transform: translateX(-50%) translateY(10vh);
  }

  from {
    transform: translateX(-50%);
  }
}

/* fixed card height */
@media (max-width: 960px) {
  .card-detail {
    .base {
      $w: 480px;
      width: $w;
      min-height: unset;
      min-width: unset;
      height: #{$w / $card-ratio};
    }
  }
}

/* full width */
@media (max-width: 510px) {
  .card-detail {
    .base {
      padding-left: 24px;
      padding-right: 24px;
      $w: calc(100vw - 18px);
      width: $w;
      height: calc(#{$w / $card-ratio});
    }
  }
}

/* smaller font size */
@media (max-width: 360px) {
  .card-detail {
    .base {
      .html-content {
        font-size: 110%;
      }
    }
  }
}

/* fixed width again */
@media (max-width: 320px) {
  .card-detail {
    .base {
      $w: 320px;
      width: $w;
      height: calc(#{$w / $card-ratio});
    }
  }
}