/* Form styles */
input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    width: 280px;
  }
}

/* For file inputs etc. */
.hidden {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  left: -100vw;
}

fieldset {
  border: none;
  outline: none;
}