body {
  background: #f1f1f1;
  background: radial-gradient(circle at center, #fff, #f7f7f7);
  min-height: 100vh;
}

/* GLOBAL STYLES */
ul {
  list-style: none;
  padding: 0;
}

#main {
  max-width: 960px;
  margin: auto;
}

/* Reset default button style */
button.reset {
  -webkit-appearance: none;
  border: none;
  background: none;
}